/* Fondo que cubre toda la pantalla */
body {
    background-image: url("../imagenes/fondo.png");
    background-size: cover; /*la imagen cubre toda la pantalla*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
.titulo {
    background-color: #670a0a;/* Color del cuadro superior */
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

/* Título del encabezado */
.titulo h2{
    margin: 0;
    color: black;
    text-align: center;
    text-shadow: 1px 2px 7px white; /*sombra sobre el texto*/
}

/* Estilo para el logo */
body::before {
    content: "";
    background-image: url("../imagenes/logo.png");
    background-size: 85%; /* Tamaño del logo */
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 150px; /* Ajusta el tamaño del logo */
    height: 150px; /*ajusta cuadro del logo*/
   
    z-index: 1;
}

/* Contenedor de los botones */
.menu {
    display: flex;
    gap: 40px; /*separacion entre botones*/
    margin-top: 10px;
}

/* Estilo de los botones */
.menu button {
    background-color: #333333;
    color: #fff;
    border-style: solid; /* sin esto se veia blanco y negro el color de borde*/
    border-color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #670a0a;
}

/* Estilo para el contenedor principal de la imagen y descripción */
.content {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
}

/* Estilo para la imagen del restaurante */
.restaurant-image {
    width: 100%;
    max-width: 500px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
   
}

/* Estilo para la descripción */

 .description {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(177, 168, 168, 0.6);
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 1.6;
}
